.image:hover {
-webkit-box-shadow: 0px 0px 15px 15px #fff;
box-shadow: 0px 0px 15px 15px #fff;
border-radius:50%;
opacity: 0.6;
-webkit-transform: rotate(720deg);
transform: rotate(720deg);
}
.image {
opacity: 1;
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}